<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>

        <link type="text/css" rel="stylesheet" href="/static/main.css?version=1.6">
        <script type="text/javascript" src="/static/Login.js?version=1.21"></script>

    </head>
    <body>
        <h1>Authentication Manager</h1>
    
        <div id="LoginField" class="Login">
            <label>Email</label>
            <input type="Field" id="EmailField" class="userInput">
            <label>Password</label>
            <input type="password" id="PasswordField", class="userInput">
            <input type="submit" id="SubmitButton" value="Submit" onclick="Login()">
        </div>

        <a href="Main_Page.html">Change Page</a>

        <div>The sent information was</div>
        <div id="Response"></div>

    </body>
</html>

